/* General styles */
html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	padding: 20px;
	margin: 0;
	background-color: #94dba2;
	color: #0B7189;
}

h1,
h2,
h3 {
	color: #4F000B;
	font-family: 'Montserrat', sans-serif;
}

p,
h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 0;
}

.button {
	background-color: #C19AB7;
	color: #fff;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}
}

/* Calendar container styles */
.calendar-container {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	flex-grow: 1;
	/* Allow the container to grow and fill available space */
	margin-right: 20px;
	/* Add margin between containers */
}

/* Upload container styles */
.upload-container {
	display: inline-block;
	background-color: #f9f9f9;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}

.file-label {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f9f9f9;
	padding: 7px 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.file-label i {
	margin-right: 5px;
}

#iceSlotInput {
	display: none;
}

#confirmButton {
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}

#confirmButton i {
	margin-right: 5px;
}

.upload-container a {
	color: #0B7189;
	text-decoration: none;
	margin-right: 10px;
}

.upload-container a:hover {
	text-decoration: underline;
}

/* Manual entry form styles */
.manual-entry-form {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
}

/* Main container styles */
.main-container {
	display: flex;
}

/* Manual entry container styles */
.manual-entry-container {
	flex-grow: 0;
	/* Prevent the container from growing */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {

	.calendar-container,
	.manual-entry-container {
		width: 100%;
		/* Each container takes up 100% of the width on smaller screens */
		margin-right: 0;
		/* Remove margin on smaller screens */
	}
}

/* Progress container styles */
#progress-container {
	display: none;
	/* Hide the progress container by default */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	/* Ensure the progress bar appears on top of other content */
	width: 80%;
	/* Set a wider width for the progress container */
}

/* Progress bar styles */
#progress-bar {
	width: 100%;
	/* Make the progress bar fill the container width */
	height: 30px;
	/* Increase the height of the progress bar */
	border: none;
	border-radius: 15px;
	/* Make the progress bar rounded */
	background-color: #f9f9f9;
	/* Light gray background */
}

/* Progress label styles */
#progress-label {
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	color: #4F000B;
	/* Progress label color */
}